<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practice" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UIActivity"></activity>
        <activity android:name=".FingerOfBall"></activity>
        <activity android:name=".NeonActivity"></activity>
        <activity android:name=".Calculator"></activity>
        <activity android:name=".AdapterViewDemo"></activity>
        <activity android:name=".ArrayAdapterDemo"></activity>
        <activity android:name=".listActivityDemo"></activity>
        <activity android:name=".simpleAdapterDemo"></activity>
        <activity android:name=".baseAdapterDemo"></activity>
        <activity android:name=".AutoCompleteTextViewDemo"></activity>
        <activity android:name=".ExpandableDemo'"></activity>
    </application>

</manifest>
